<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Welcome page</title>
</head>
<body>
   <nav>
      <a href="index.html">Home</a>
      <a href="respository.html">Repository</a>
      <a href="term.html">Terminology</a>
   </nav>

   <div class="greeting">
      <h1>Welcome to our half-assed page</h1>
      <img src="https://i.picsum.photos/id/984/1000/1000.jpg?hmac=IoWXexAG_Xytlekv2gBarwdr9u_gZJGjp-BQtdM5fR4" alt="background">
   </div>
</body>
</html>